<h1>Listing accesskeys</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Location</th>
      <th>Expire at</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accesskeys.each do |accesskey| %>
      <tr>
        <td><%= accesskey.key %></td>
        <td><%= accesskey.location %></td>
        <td><%= accesskey.expire_at %></td>
        <td><%= accesskey.active %></td>
        <td><%= link_to 'Show', accesskey %></td>
        <td><%= link_to 'Edit', edit_accesskey_path(accesskey) %></td>
        <td><%= link_to 'Destroy', accesskey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accesskey', new_accesskey_path %>
